@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #f5f5dc; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: var(--background);
  padding: 0px 16px;
}

@media (min-width: 900px){
  body {
    padding: 0px 20vw;
  }
}

.underline-link{
  font-weight: 800;
  border-bottom: 2px solid #eee;
}

.underline-link:hover{
  border-bottom: 2px solid #000;
}