@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #f5f5dc; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: var(--background);
  padding: 0px 16px;
}

@media (min-width: 900px){
  body {
    padding: 0px 20vw;
  }
}

.underline-link{
  font-weight: 800;
  border-bottom: 2px solid #eee;
}

.underline-link:hover{
  border-bottom: 2px solid #000;
}

html{
  scroll-behavior: smooth;
}

.christmas-hat:before {
  content: '';
  position: absolute;
  top:-6px;
  left: -5px;
  height: 29px;
  width: 29px;
  background-image: url('/images/santa-hat.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.christmas-hat {
  position: relative;
}
